
<div class="card card-body my-3">
    <h1 class="h4">Silmek istediğinize emin misiniz?</h1>
    <div class="col-md-1">
        <a asp-controller="Home" asp-action="DeleteStore" asp-route-id="@ViewBag.productId" class="btn btn-danger">Evet</a>
    </div>
    <div class="col-md-1" style="margin-top: 10px;">
        <a asp-controller="Home" asp-action="Index"  class="btn btn-primary">Hayır</a>
    </div>
</div>